html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    color: #ffffff;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}

h2,
h3,
p {
    color: #ffffff;
}

.main__section {
    height: 100vh;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.container-fluid {
    padding: 0;
}

.profile__img-size {
    height: 300px;
    width: 300px;
    border-radius: 50%;    
    filter: grayscale(1);
}

.about__img-size {
    width: 300px;
    height: 444px;
    border-radius: 5px;
}

.about__img-marign {
    margin-right: 20px;
}

/* Navbar Style*/

.row {
    width: 100%;
}

.navbar__transparent {
    background: transparent;
    font-size: 1em;
    border-bottom: 0.5px solid white;
}

.navbar-li__links {
    color: rgb(255, 255, 255); // margin-right: 40px;
    font-size: 24px;
}

.navbar__brand {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: 2px;
}


/* Section style */

.section__style {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


/* Section backgrounds*/

.section1__img {
    background-image: url("img/home.png");
    filter: blur(2px);
}

.section2__img {
    background-color: #202325;
}

.section3__img {
    background-color: #181a1b;
}

.section4__img {
    background-color: #202325;
}

.section5__img {
    background-color: #181a1b;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-animation {
    animation: fadeIn 3s;
}

.info__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Section 2 style*/

.section2__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 900px;
    height: 500px;
}

.section2__text {
    color: rgb(255, 251, 219);
    text-align: center;
    font-size: 1.4rem;
}

.social-icons {
    margin-left: 1rem;
    color: rgb(255, 255, 255);
}

.social-icons:hover {
    animation: rubberBand 2s;
}


/* Section 3 style*/

.section3__div {
    width: 400px;
    height: 400px;
    margin: 150px;
}

.section3__text {
    color: rgb(255, 251, 219);
    text-align: justify;
}


/* Section 4 style*/

.skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.skills-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

@mixin for-mobile {
    @media (max-width: 1050px) {
        @content;
    }
}

.skills-container__align {
    flex-direction: row;
    align-items: flex-start;
    @include for-mobile {
        flex-direction: column;
        align-items: center;
    }
}

.skills-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.skills-margin {
    margin: 20px 30px 0 0;
}

.flag-margin {
    margin: 10px 40px;
}

.lang-content {
    flex-direction: column;
}

.section__title {
    text-align: center;
    margin-top: 90px;
}

.skills__title {
    text-align: center;
    margin-bottom: 50px;
}

.skills__subtitle {
    text-align: center;
}


/* Section 5 style*/

.contact__section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 43vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

li {
    list-style: none;
}

// li>* {
//     display: inline-block;
//     vertical-align: middle;
//     margin-right: 10px;
// }

.contact__info {
    width: 400px;
    margin-bottom: 5px; 
}

.contact__icon {
    display: flex;
    justify-content: center; 
}

.contact__text {
    display: flex;
    align-items: center;
    padding-top: 12px;
}


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsZUFBZTtFQUNmLCtGQUErRjtFQUMvRiw2QkFBNkIsRUFBRSIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICBoZWlnaHQ6IDIwMDBweDtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiaHR0cHM6Ly9jZG4taW1hZ2VzLTEubWVkaXVtLmNvbS9tYXgvMjAwMC8xKlplaXhNMk9DeXlfeFVFS01uU3BfYlEucG5nXCIpO1xuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0OyB9XG4iXX0= */